In [0]:
import pandas as pd

! wget https://raw.githubusercontent.com/bcaffo/ds4bme_intro/master/data/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv

df = pd.read_csv("/content/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv")

df.head(6)

--2019-09-05 01:36:43--  https://raw.githubusercontent.com/bcaffo/ds4bme_intro/master/data/kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 61456 (60K) [text/plain]
Saving to: ‘kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv.1’

kirby127a_3_1_ax_28 100%[===================>]  60.02K  --.-KB/s    in 0.02s

2019-09-05 01:36:43 (3.82 MB/s) - ‘kirby127a_3_1_ax_283Labels_M2_corrected_stats.csv.1’ saved [61456/61456]

   Unnamed: 0                 rawid              roi  ...      std  type  level
0           1  kirby127a_3_1_ax.img  Telencephalon_L  ...  51.8593     1      1
1           2  kirby127a_3_1_ax.img  Telencephalon_R  ...  53.6471     1      1
2           3  kirby127a_3_1_ax.img   Diencephalon_L  ...  32.2733     1      1
3           4  kirby127a_3_1_ax.img   Diencephalon_R  ...  32.7869     1      1
4           5  kirby127a_3_1_ax.img    Mesencephalon  ...  29.2249     1      1
5           6  kirby127a_3_1_ax.img    Metencephalon  ...  52.2241     1      1

[6 rows x 10 columns]